.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #bc181895;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.navbar {
  background-color: #bc1818d5;
  color: white;
}

.navLogo {
  width: 60%;
}

.navbar-brand {
  width: 250px;
  height: 30%;
}

.slogan {
  color: #bc1818;
}

.phone {
  width: 40%;
}

.phone-div {
  text-align: center;
}

.main-text {
  font-size: 6vw;
  width: 450px;
  margin: 0 auto;
  text-align: left;
}

.headerText {
  font-size: 20px;
}

.description {
  font-size: 20px;
  width: 450px;
  margin: 5% auto;
  text-align: left;
}

.paragraph-div {
  padding-top: 50px;
}

.main-sub-div {
  text-align: center;
}

.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: rgb(46, 46, 46);
  color: white;
  margin-bottom: 20px;
  height: 350px;
  border-radius: 10px;
}

.card-top-nutri {
  height: 70%;
  background: url('https://images.pexels.com/photos/793765/pexels-photo-793765.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') 50% 50% no-repeat;
  border-radius: 10px;
  object-fit: cover;
}

.card-top-train {
  height: 70%;
  background: url('https://images.pexels.com/photos/3764014/pexels-photo-3764014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') 50% 70% no-repeat;
  border-radius: 10px;
}

.card-top-news {
  height: 70%;
  background: url('https://images.pexels.com/photos/2834917/pexels-photo-2834917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') 50% 20% no-repeat;
  border-radius: 10px;
}

.card-text {
  font-size: large;
  text-align: center;
  justify-content: center;
}

.about-us-section {
  margin-top: 10%;
}

.projectcontent {
  font-size: 20px;
}

.aboutusContent {
  font-size: 20px;
}

.estig-div {
  scale: 0.75;
}

.estig {
  width: 80%;
}

.sobreProjeto {
  background-color: rgb(46, 46, 46);
  border-radius: 1%;
}

.estig-div {
  text-align: center;
}

.project-section {
  margin-top: 10%;
}

.logo {
  width: 70%;
}

.logo-div {
  text-align: center;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  color: white;
  background-color: #333;
  text-align: center;
}

.footerLogo {
  width: 10%;
}

@media screen and (max-width: 991px) {
  .main-content-header {
    margin-top: 14%;
  }

  .navbar-toggler {
    margin-right: 10px;
  }

  .navbar-nav {
    margin-left: auto;
    margin-right: 20px;
  }

  .doctor-div {
    display: none;
  }

  .main-text {
    font-size: 35px;
    width: 350px;
    margin: 0 auto;
    text-align: center;
  }

  .description {
    width: 350px;
    margin: 5% auto;
    text-align: center;
  }

  .searchBTN-div {
    width: 350px;
    margin: 5% auto;
    text-align: center;
  }

  .footerLogo {
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  .footerLogo {
    width: 40%;
  }
}

@media screen and (max-width: 525px) {
  .navbar-brand {
    width: 200px;
    height: 30%;
  }

  .recomendations {
    margin: 15%;
  }

  .footerLogo {
    width: 50%;
  }
}

@media screen and (max-width: 315px) {
  .navbar-brand {
    width: 175px;
    height: 30%;
  }

  .navbar-toggler {
    margin-right: 5px;
  }

  .navbar-nav {
    margin-left: auto;
    margin-right: 10px;
  }

  .footerLogo {
    width: 60%;
  }
}