.navbar {
  background-color: rgba(55, 99, 166, 0.9);
}

.navLogo{
  width: 60%;
}

.navbar-brand {
  width: 40%;
  height: 30%;
}

.main-content-header {
  margin-top: 20%;
  margin-bottom: 5%;
}

.main-text {
  font-size: 6vw;
  width: 450px;
  margin: 0 auto;
  text-align: left;
}

.description {
  font-size: 20px;
  width: 450px;
  margin: 5% auto;
  text-align: left;
}

.searchBTN-div {
  margin: 5% auto;
  width: 450px;
  text-align: left;
}

.btn {
  background-color: #3763a6;
  color: whitesmoke;
  width: 250px;
  height: 60px;
  font-size: 25px;
  transition: 0.35s;
}

.btnLink {
  color: white;
  text-decoration: none;
}

.btn:hover {
  background-color: white;
  color: #3763a6;
  border-color: #3763a6;
  transition: 0.35s;
}

.paragraph-div {
  padding-top: 50px;
}

.main-sub-div {
  text-align: center;
}

.card {
  background-color: rgb(198, 218, 250);
  margin: 10px;
  padding: 10px;

  width: 250px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: 250ms;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.card p {
  font-size: 16px;
}

.card:hover {
  background-color: #1d4581;
  color: white;
  transition: 500ms;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card-container .card {
  margin: 10px;
}

.card-image {
  width: 60%;
  height: auto;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
}


.results{
  margin-bottom: 5%;
}

.ammountOfResults{
  margin-bottom: 5%;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  color: white;
  background-color: rgba(55, 99, 166, 0.9);
  text-align: center;
}

.footerLogo{
  width:"30%";
}

@media screen and (max-width: 991px) {
  .main-content-header {
    margin-top: 30%;
  }

  .navbar-brand {
    width: 40%;
    height: 30%;
  }

  .navbar-toggler {
    margin-right: 10px;
  }

  .navbar-nav {
    margin-left: auto;
    margin-right: 20px;
  }

  .main-text {
    font-size: 35px;
    width: 350px;
    margin: 0 auto;
    text-align: center;
  }

  .description {
    width: 350px;
    margin: 5% auto;
    text-align: center;
  }

  .searchBTN-div {
    width: 350px;
    margin: 5% auto;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .navbar-brand {
    width: 70%;
    height: 60%;
  }
}

@media screen and (max-width: 525px) {
  .result {
    margin: 15%;
  }
}

@media screen and (max-width: 315px) {
  .navbar-brand {
    width: 60%;
    height: 50%;
  }

  .navbar-toggler {
    margin-right: 5px;
  }

  .navbar-nav {
    margin-left: auto;
    margin-right: 10px;
  }
}