@tailwind base;
@tailwind components;
@tailwind utilities;

nav{
    z-index: 40;
}

.carousel-container {
    width: 1000px;
    height: 500px;
    margin: 0 auto; /* Center the carousel horizontally */
    position: relative;
    z-index: 0;
}

.carousel {
    width: 100%;
    height: 100%;
}

.carousel img {
    width: 1000px;
    height: 500px;
    margin: auto;
}
